<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Login</title>
    <link href="/css/bootstrap.css" rel="stylesheet"/>
    <link href="/css/css.css" rel="stylesheet"/>
    <link href="/css/style.css" rel="stylesheet"/>
    <link href="/css/font-awesome.css" rel="stylesheet"/>
</head>

<body style="background-color: #f1f1f1; padding-bottom: 0">
<div class="fade" style="background-color:darkslategray">
</div>
<div class="layer">
    <div class="slogan">
        <h1  id="slogan">Hi There, Welcome to MGIMSS</h1>
    </div>

    <div class="main-agile1" id="bothForm">
        <div class="w3layouts-main" id="LoginForm">
            <input class="newUserBtn" type="submit" value="New User?"
                   onclick="rotateForm(this)" id="LoginInput">
            <form th:action="@{/login}" method="post">
                <h2 class="loginhead">Sign In</h2>
                <div class="email">
                    <input placeholder="Username" name="username" type="text">
                    <span class="icon-right-login"><i class="fa fa-envelope-o" aria-hidden="true"></i></span>
                </div>
                <div class="email">
                    <input placeholder="Password" name="password" type="password">
                    <span class="icon-right-login"><i class="fa fa-unlock" aria-hidden="true"></i></span>
                </div>
                <div th:if="${param.error}">
                    <p style="text-align: center" class="text-danger" value="${param.error}"></p>
                </div>
                <div th:if="${result}">
                    <p style="text-align: center" class="text-success" th:text="${result}"></p>
                </div>
                <div class="loginbtnBox">
                    <button class="button loginbtn" type="submit">Login</button>
                </div>
            </form>
        </div>

        <div class="main-agile" id="RegisterForm">
            <div class="content-wthree">
                <input class="haveAccBtn" type="submit" value="Have Account?"
                       onclick="rotateForm(this)" id="RegisterInput">
                <form class="signUpForm" th:action="@{/signup}" method="post">
                    <h2 class="signUphead">SIGN UP</h2>
                    <div class="email">
                        <input type="text" placeholder="Username" name="username" required/>
                        <span class="icon-right"><i class="fa fa-user-circle" aria-hidden="true"></i></span>
                    </div>
                    <div class="email">
                        <input type="password" placeholder="Password"  name="password" required/>
                        <span class="icon-right-lock"><i class="fa fa-lock" aria-hidden="true"></i></span>
                    </div>
                    <div class="email">
                        <input type="password" placeholder="ConfirmPassword" required/>
                        <span class="icon-right-lock"><i class="fa fa-lock" aria-hidden="true"></i></span>
                    </div>
                    <div class="email">
                        <input type="email" placeholder="Email" name="email" required/>
                        <span class="icon-right"><i class="fa fa-envelope-o" aria-hidden="true"></i></span>
                    </div>
                    <div class="email">
                        <input type="text" placeholder="Phonenumber" name="phone" required/>
                        <span class="icon-right-lock"><i class="fa fa-phone" aria-hidden="true"></i></span>
                    </div>
                    <div class="loginbtnBox">
                        <button class="button loginbtn" type="submit">Register</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="clear"></div>
    </div>
    <div class="footer-w3l">
        <p class="agileinfo"> &copy; 2017 Sign Up and Subscribe Form. All Rights Reserved |
            Design by <a href="http://w3layouts.com">W3layouts</a></p>
    </div>
</div>

</body>
<script src="/js/jquery-3.3.1.min.js"></script>
<script>
    var form, nform = 0, rotformINT;
    function changetext(i){
        if (i === 0){
            $('#slogan').html("Get Your Account Now!");
        }
        else{
            $('#slogan').html("Hi There, Welcome to MGIMSS");
        }
    }
    function rotateForm(obj) {
        if (obj.id.indexOf("Login") >= 0) {
            $('#slogan').fadeOut(500);        //淡入
            setTimeout("changetext(0)", 500);
            $('#slogan').fadeIn(500);
        }
        else {
            $('#slogan').fadeOut(500);
            setTimeout("changetext(1)", 500);
            $('#slogan').fadeIn(500);

        }
        form = document.getElementById("bothForm");
        clearInterval(rotformINT);
        rotformINT = setInterval("startFormRotate()", 5);
    }

    function startFormRotate() {
        nform = nform + 1;
        form.style.transform = "rotateY(" + nform + "deg)";
        form.style.webkitTransform = "rotateY(" + nform + "deg)";
        form.style.OTransform = "rotateY(" + nform + "deg)";
        form.style.MozTransform = "rotateY(" + nform + "deg)";
        if (nform === 180 || nform >= 360) {
            clearInterval(rotformINT);
            if (nform >= 360) {
                nform = 0
            }
        }
    }
</script>

</html>
