<!--suppress ALL -->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">


<head>

    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>MGIMSS Home</title>
    <link href="/css/css.css" rel="stylesheet"/>
    <link href="/css/bootstrap.css" rel="stylesheet"/>
    <link href="/css/style.css" rel="stylesheet"/>


</head>
<body>
    <div>
        <div class="fade">
        </div>
        <header id="header" class="alt">
            <div class="inner">
                <h1>MGIMSS</h1>
                <p>Micro-grid Intelligent Monitoring and Scheduling System</p>
            </div>
        </header>
        <div class="WelcomeButton">
            <button class="button" onclick="start()">Start</button>
        </div>
    </div>

</body>
<script>
    function start() {
        window.location.assign("login");
    }
</script>



</html>
