/*--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
--*/
/* reset */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,dl,dt,dd,ol,nav ul,nav li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
article, aside, details, figcaption, figure,footer, header, hgroup, menu, nav, section {display: block;}
ol,ul{list-style:none;margin:0px;padding:0px;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}
table{border-collapse:collapse;border-spacing:0;}
/* start editing from here */
a{text-decoration:none;}
.txt-rt{text-align:right;}/* text align right */
.txt-lt{text-align:left;}/* text align left */
.txt-center{text-align:center;}/* text align center */
.float-rt{float:right;}/* float right */
.float-lt{float:left;}/* float left */
.clear{clear:both;}/* clear float */
.pos-relative{position:relative;}/* Position Relative */
.pos-absolute{position:absolute;}/* Position Absolute */
.vertical-base{	vertical-align:baseline;}/* vertical align baseline */
.vertical-top{	vertical-align:top;}/* vertical align top */
nav.vertical ul li{	display:block;}/* vertical menu */
nav.horizontal ul li{	display: inline-block;}/* horizontal menu */
img{max-width:100%;}
/*end reset*/
body {
    background-attachment: fixed;
    background-position: center;
    font-family: 'Hind', sans-serif;
    background-image: url(/image/bg.jpg);
	background-size:cover;

}
.layer {
	background: rgba(0, 0, 0, 0.5);
}

h1 {
    font-size: 40px;
    text-align: center;
    padding: 48px 0px;
    text-transform: uppercase;
    letter-spacing: 1px;
	color:#fff;
}
.w3layouts-main {
    width: 50%;
	margin: auto;
	position: absolute;
	left: 50%;
    background: #FFFFFF;
    text-align: center;
	backface-visibility:hidden;
	transform: translate(-50%);
}
.main-agile{
	width: 50%;
	margin: auto;
	position: absolute;
	left: 50%;
	background: #FFFFFF;
	text-align: center;
	backface-visibility:hidden;
	transform: translate(-50%)  rotateY(180deg);
}

.w3layouts-main {
    background: #e64b50;
    background: #b84592;
    background: rgba(0, 0, 0, 0.58);
}
input[type="text"], input[type="email"], input[type="password"] {
    width: 100%;
    padding: 10px 15px 0px 0;
    outline: none;
    font-size: 14px;
    color: #fff;
    font-family: "Letter Gothic Std";
    border: none;
    background: transparent;
}
input[type="submit"] {
    padding: 9px 0px 5px;
    font-size: 1em;
    width: 40%;
    text-transform: uppercase;
    letter-spacing: 1px;
    background: #e64b50;
    background: #b84592;
    color: #fff;
    border: none;
    outline: none;
    cursor: pointer;
	font-family: "Letter Gothic Std";
    margin: 24px auto 0;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -ms-transition: 0.5s all;
    border-radius: 30px;
}
input[type="submit"]:hover,.content-wthree input[type="submit"]:hover {
    background: cornflowerblue;
}
.w3layouts-main ::-webkit-input-placeholder{
    color: #fff!important;
}
.main-agile1{
	width: 50%;
	height: 100%;
	margin: 0px auto 0px auto;
    position: relative;
	transform-style:preserve-3d;
	/*background-color: #00a0dc;*/
}

.alert-close {
    background: url('/image/into.png') no-repeat 0px 0px;
    background-size: 16px;
    cursor: pointer;
    height: 24px;
    width: 24px;
    position: absolute;
    right: 30px;
    top: 15px;
    -webkit-transition: color 0.2s ease-in-out;
    -moz-transition: color 0.2s ease-in-out;
    -o-transition: color 0.2s ease-in-out;
    transition: color 0.2s ease-in-out;
    z-index: 999;
}
.content-wthree, .w3layouts-main {
    padding: 50px 0;
    text-align: center;
}
.content-wthree p {
    color: #444444;
    font-size: 15px;
    letter-spacing: 1px;
    text-transform: capitalize;
    margin: 15px 0 0;
}
/*.content-wthree h2 {*/
    /*margin-top: 30px;*/
/*}*/
h2 {
    color: #000;
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
	font-family: "Letter Gothic Std";
	letter-spacing: 0.175rem;
}
.w3layouts-main h2 {
    color: #fff;
}
h3 {
    font-size: 25px;
    color: #353535;
    color: #fff;
    text-transform: capitalize;
}
span {
    color: #fff;
}
.w3layouts-main form {
    width: 80%;
    margin: 0 auto;
}
.content-wthree form{
	width:80%;
	margin:0 auto;

}
.content-wthree input[type="text"] {
    width: 100%;
	padding: 10px 15px 0px 0;
    background: #fff;
    color: #000;
    border: none;
    outline: none;
    font-size: 14px;
	font-family: "Letter Gothic Std";
}

.content-wthree input[type="password"] {
	width: 100%;
	padding: 10px 15px 0px 0;
	background: #fff;
	color: #000;
	border: none;
	outline: none;
	font-size: 14px;
	font-family: "Letter Gothic Std";
}

.content-wthree  input[type="email"]{
	width: 100%;
	padding: 10px 15px 0px 0;
	background: #fff;
	color: #000;
	border: none;
	outline: none;
	font-size: 14px;
	font-family: "Letter Gothic Std";
}
/*.content-wthree button {*/
    /*width: 30%;*/
    /*background: #e64b50;*/
    /*background: #b84592;*/
    /*border: none;*/
    /*outline: none;*/
    /*font-size: 1em;*/
    /*padding: 8px 0px 5px;*/
    /*color: #fff;*/
    /*text-transform: uppercase;*/
    /*transition: .5s ease-in;*/
    /*-webkit-transition: .5s ease-in;*/
    /*-moz-transition: .5s ease-in;*/
    /*-o-transition: .5s ease-in;*/
    /*-ms-transition: .5s ease-in;*/
    /*cursor: pointer;*/
    /*border-radius: 30px;*/
/*}*/
/*--//footer--*/
.footer-w3l p{
	width:70%;
	margin:auto;
	text-align:center;
	font-size:16px;
	color:#eee;
	letter-spacing:1px;
	line-height:27px;
}
.footer-w3l p a{
	color:#fff;
}
.footer-w3l p a:hover{
	text-decoration:underline;
}
.footer-w3l {
	padding: 50px 0px 35px;
}
/*--//footer--*/

ul.top-links li a i.fa {
    color: #000;
    background-color: #fff;
    width: 38px;
    height: 38px;
    font-size: 16px;
    line-height: 38px;
    text-align: center;
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    -ms-border-radius: 50%;
}
ul.top-links li {
    margin-left: 5px;
    display: inline-block;
}
ul.top-links {
    margin: 20px 0 30px;
}
ul.top-links li a i.fa.fa-facebook {
    background: #3b5998;
    color: #fff;
}
ul.top-links li a i.fa.fa-twitter {
    background: #1da1f2;
    color: #fff;
}
ul.top-links li a i.fa.fa-linkedin {
    background: #00a0dc;
    color: #fff;
}
i.fa.fa-paper-plane-o {
    font-size: 50px;
    color: #e64b50;
    color: #b84592;
}
ul.top-links li a i.fa.fa-facebook:hover ,ul.top-links li a i.fa.fa-twitter:hover,ul.top-links li a i.fa.fa-linkedin:hover  {
    transform: scale(1.4);
    -webkit-transform: scale(1.3);
    -moz-transform: scale(1.3);
    -o-transform: scale(1.3);
    -ms-transform: scale(1.3);
    z-index: 1;
}
.email {
    border: none;
    border-bottom: 0.6px solid #f5f5f5;
    margin: 20px 5%;
	width: 90%;
}
.content-wthree .email {
    border: none;
    border-bottom: 0.6px solid #4c4c4c;
	margin: 20px 5%;
	width: 90%;
}
.email i.fa {
    color: #fff;
    font-size: 16px;
}
.content-wthree .email i.fa {
    color: #000;
    font-size: 16px;
}
/*--responsive--*/
@media(max-width:1920px){
	h1 {
		padding: 120px 0px 40px;
	}
	.footer-w3l {
		padding: 50px 0px 383px;
	}
}
@media(max-width:1680px){
	.footer-w3l {
    padding: 50px 0px 233px;
	}
}
@media(max-width:1600px){
	.footer-w3l {
		padding: 80px 0px 35px;
	}
	h1 {
		padding: 48px 0px;
	}
}
@media(max-width:1440px){
	h1 {
		font-size: 38px;
		letter-spacing: 2px;
		padding: 40px 0px;
	}
	.content-wthree {
		padding: 20px 0;
	}
	/*.content-wthree input[type="text"] {*/
		/*margin: 60px 0 45px;*/
	/*}*/
	.content-wthree img {
		width: 55px;
	}

}
@media(max-width:1366px){
	.main-agile {
		width: 50%;
	}
}
@media(max-width:1280px){
	.content-wthree form {
		width: 80%;
	}
	.content-wthree input[type="submit"] {
		width: 48%;
	}
	h1 {
		font-size: 40px;
	}
	.main-agile1 {
		width: 70%;
	}
}
@media(max-width:1080px){
	.main-agile1 {
		width: 75%;
	}
}
@media(max-width:1050px){
	h2 {
		font-size: 28px;
	}
	h3 {
		font-size: 21px;
	}
	.w3layouts-main {
		padding: 53px 0;
	}
}
@media(max-width:1024px){
	/*.content-wthree input[type="submit"],input[type="submit"] {*/
		/*font-size: 15px;*/
		/*width: 50%;*/
	/*}*/
	.footer-w3l p {
		font-size: 15px;
	}
	.main-agile1 {
		width: 80%;

	}
	h2 {
		font-size: 32px;
	}
	.alert-close {
		right: 10px;
	}
	.footer-w3l {
		padding: 150px 0px 35px;
	}
}
@media(max-width:991px){
	.content-wthree {
		padding: 23px 0;
	}
	h2 {
		font-size: 31px;
	}
	h3 {
		font-size: 22px;
	}
	.w3layouts-main {
		padding: 51px 0;
	}
}
@media(max-width:900px){
	h1 {
		font-size: 35px;
	}
	.content-wthree img {
		width: 45px;
	}
	h2 {
		font-size: 30px;
		letter-spacing: 1px;
	}
	input[type="submit"] {
		width: 45%;
	}
	.content-wthree form {
		width: 80%;
	}
	.content-wthree p {
		letter-spacing: 0px;
	}

}
@media(max-width:800px){
	.main-agile1 {
		width: 90%;

	}
	h1 {
		font-size: 34px;
	}
	/*.content-wthree input[type="text"] {*/
		/*margin: 83px 0 40px;*/
	/*}*/
	h2 {
		font-size: 31px;
	}
}
@media(max-width:768px){
	h2 {
		font-size: 28px;
	}
}
@media(max-width:767px){
}
@media(max-width:736px){
	h1 {
		font-size: 33px;
	}
	.content-wthree img {
		width: 41px;
	}
	h2 {
		font-size: 30px;
	}
	.content-wthree p {
		padding: 0 25px;
	}
	.content-wthree .email {
		margin: 20px 0% 10px;
		width: 100%;
	}

}
@media(max-width:667px){
	.footer-w3l p {
		width: 80%;
	}
	.content-wthree {
		padding: 23px 0;
	}
	.content-wthree input[type="submit"] {
		width: 50%;
	}
	h2 {
		font-size: 27px;
	}
	.main-agile1 {
		width: 98%;
	}

	h1 {
		padding: 30px 0px 25px;
	}
}
@media(max-width:640px){
	h1 {
		letter-spacing: 2px;
	}
	/*.content-wthree input[type="text"] {*/
		/*margin: 74px 0 33px;*/
	/*}*/
	.content-wthree form {
		width: 80%;
	}
	.footer-w3l p {
		width: 84%;
	}
	.alert-close {
		background-size: 15px;
	}
	.main-agile1 {
		width: 100%;
	}
	.w3layouts-main, .main-agile {
		width: 49%;
	}

	input[type="submit"] {
		width: 50%;
	}
}
@media(max-width:600px){
	/*.content-wthree input[type="text"] {*/
		/*padding: 12px 12px 12px;*/
	/*}*/
	.footer-w3l p {
		width: 90%;
	}
	h2 {
		font-size: 27px;
	}
	.content-wthree p {
		padding: 0 20px;
	}
	.content-wthree input[type="submit"], input[type="submit"] {
		font-size: 14px;
		width: 60%;
	}
}
@media(max-width:568px){
	.footer-w3l p {
		width: 82%;
		line-height: 35px;
	}
	h1 {
		font-size: 29px;
	}
	h2 {
		font-size: 26px;
	}
	i.fa.fa-paper-plane-o {
		font-size: 40px;
	}
	.content-wthree p {
		padding: 0 13px;
	}
	.content-wthree {
		padding: 10px 0;
	}
	.w3layouts-main {
		padding: 35px 0;
	}
	.content-wthree h2 {
		margin-top: 0px;
	}
}
@media(max-width:480px){
	h1 {
		font-size: 29px;
	}
	.footer-w3l p {
		width: 86%;
	}
	.content-wthree {
		padding: 10px 0;
	}
	.w3layouts-main, .main-agile {
		width: 99%;
	}
	.main-agile1 {
		width: 80%;
	}
	.w3layouts-main {
		margin-bottom: 25px;
	}
	.alert-close {
		right: 10px;
		top: 530px;
	}
}
@media(max-width:414px){
	h1 {
		font-size: 28px;
	}
	h2 {
		font-size: 25px;
	}
	.content-wthree img {
		width: 36px;
	}
	/*.content-wthree input[type="text"] {*/
		/*margin: 60px 0 30px;*/
	/*}*/
	.alert-close {
		background-size: 14px;
	}
	.footer-w3l p {
		line-height: 31px;
	}
	.main-agile1 {
		width: 90%;
	}
}
@media(max-width:384px){
	h1 {
		font-size: 24px;
	}
	.content-wthree img {
		width: 33px;
	}
	h2 {
		font-size: 22px;
	}
	.content-wthree form {
		width: 80%;
	}
	/*.content-wthree input[type="text"] {*/
		/*margin: 55px 0 23px;*/
	/*}*/
	.footer-w3l p {
		font-size: 14px;
		width: 92%;
	}
}
@media(max-width:375px){
	h1 {
		font-size: 24px;
	}
	.footer-w3l p {
		width: 81%;
		font-size: 14px;
		letter-spacing: 1px;
	}
}
@media(max-width:320px){
	.content-wthree img {
		width: 25px;
	}
	h2 {
		font-size: 22px;
	}
	/*.content-wthree input[type="text"] {*/
		/*padding: 6px;*/
		/*margin: 49px 0 16px;*/
	/*}*/
	.footer-w3l p {
		width: 92%;
	}
	.content-wthree form {
		width: 80%;
	}
	.main-agile1 {
		width: 95%;
	}
	h1 {
		font-size: 22px;
		letter-spacing: 0;
	}
	.content-wthree, .w3layouts-main {
		padding: 30px 0;
	}
	.alert-close {
		right: 5px;
		top: 490px;
	}
}
/*--responsive--*/